{% extends 'main/base.html' %} 
{% block title %}
  User Type
{%endblock %}

{%block content %}
    <p class="choice_text">Do you want to register as a customer or as a company?</p>
    
    <div style="margin-top: 70px;">
        <div style="margin-left: 50px" class="choice">
            <div class="company img" id="company">
                <a href="/register/company">
                    <img src="/static/css/company.png" alt="company" >
                </a>
            </div>
            <p class="label_images">Company</p>
        </div>

        <div style="float: right; margin-right: 50px;" class="choice">
            <div class="img" id="customer">
                <a href="/register/customer">
                    <img src="/static/css/Designer.png" alt="customer">
                </a>
            </div>
            <p class="label_images">customer</p>
        </div>
    </div>
{% endblock %}
